# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Data Science Languages
- Data Science Libraries
- Expressions in Python

Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. C++
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. Pandas
4. Scikit-learn
5. Pltoly

| Data |
| ---- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating expressions in Python

In [15]:
# This is a simple arithmatic expression to multiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by dividing by 60 

200/60

3.3333333333333335

## Author

Geoffrey Day